<div class="header_text" align="center">Лицензионное соглашение</div>
<br/>
<div class="justify i">
<p><b>Интернет регистратура</b> - ресурс, который создан для облегчения взаимодействия врачей и пациентов.</p>
<p>Используя этот ресурс, Вы обязуетесь посещать врача если Вы создали запись к нему через наш ресурс, в противном случае врач может занести Вас в черный список и запись на прием к врачу для Вас будет не возможна! Вы соглашаетесь с тем что врач может позвонить по указанному Вами номеру телефона и уточнить не возникли ли у Вас факторы мешающие посещению! Так же Вы обязуетесь указывать достоверные данные при регистрации! Если у вас изменились данные вы можете легко отредактировать их воспользовавшись личным кабинетом! </p>
<br/><br/>
<p>Если Вы врач, который использует нашу систему, то Вы обязуетесь указывать достоверные личные данные, всегда указывать актуальное рассписание приемов, принимать пациентов ровно в то время на которое они записались! </p>
<br/><br/>
<p>Администрация системы будет уделять максимум времени на отслеживание взаимодействия врачей и пользователей! Мы готовы рассматривать ваши предложения по улучшению ресурса! Мы делаем этот сайт чтобы вам было УДОБНО!</p>

<br/><br/>
<%=button_to 'Назад', :back%>
</div>