	<link rel="shortcut icon" href="/assets/favicon.ico">
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	<%= stylesheet_link_tag 'plugin/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'plugin/paginate', :media => 'screen' %>

	<%= javascript_include_tag :application %> 

	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Дистанционная запись на прием к врачу, записаться на прием, интернет-регистратура, найти врача, найти доктора, записаться на прием, врач, доктор, vrach, find doctor">
	<meta name="description" content="Сервис для записи на прием к врачу">

	