<h3>Восстановление пароля к ресурсу www.k-docto.ru</h3>
<br/>
<p>На ресурсе www.k-docto.ru был использован сервис восстановления пароля. Пользователь указал этот почтовый адрес для восстановления пароля. </p>
<br/>
<p>Пароль был изменен на : <b><%=@pass%></b></p>
</br>
<p>Если вы не использовали данный сервис то просто не обращайте внимание, на это сообщение!</p>
<br/>
<p>______________________</p>
<p>С Уважением сервис <br/>www.k-docto.ru</p>