<h3>Добро пожаловать на сайт www.k-docto.ru</h3>
<br/>
<p>Вы зарегистрироались на ресурсе www.k-docto.ru. Данный ресурс предназначен для поиска врачей а так же для записи к ним на прием дистанционно! На нашем ресурсе вы найдете не только врачей работающих по состеме ОМС(бесплатное лечение по полису омс), но так же и врачей принимающих на платной основе! </p>

<br/>

<p>Если вы не нашли нужного врача, а так же если вы пользуетесь услугами врача который не зарегистрирован в нашей системе. Предложите вашему врачу зарегистрироваться на нашем ресурсе совершенно БЕСПЛАТНО! Это значительно упростит запись на прием к врачу но и так же будет удобным самому врачу! Наша сисетма постоянно улучшается и если вам требуется дополнительный функционал который ещё не поддерживается то вы можете обратиться к нам <i>mail@mail.ru</i> с письмом-предложением по улучшению системы. </p>

<br>

<p>Если вы не регистрировались на www.k-docto.ru то просто проигнорируйте это сообщение, никакой рекламы и спама вы от нас не получите!</p>

<br/>
<p>______________________</p>
<p>С Уважением сервис <br/>www.k-docto.ru</p>