<div class="header_text" align="center">Личный кабинет</div>
<br/>

<div class="pr_outline">
	<div class="pr_inline dis_link">Актуальные записи</div>
	<div class="pr_inline link" onclick="location='/personal_room/history'">История записей</div>
	<div class="pr_inline link" onclick="location='/personal_room/edit'">Изменить мои данные</div>
</div>

<div class="pr_squared">
	<br/>
	<div id="divCont">

		<table id="tblSel" width="90%">
			<% if @tickets.count > 0 %>
			<tr>
				<td width="90px" id="color_blue" class="padding">
					Дата приема
				</td>
				<td width="230px" id="color_blue" class="padding">
					Врач
				</td>
				<td width="80px" id="color_blue" class="padding">
					Действие
				</td>
			</tr>
			<%else%>
			<tr>
				<td class="header_text1 classical_background i">Нет актуальных записей на прием к врачу</td>
			</tr>
			<%end%>

			<% @tickets.each do |t| %>
				<tr>
					<td align="center"  class="padding cell-left i">
						<%=t.visit_date.strftime("%d.%m.%Y %H:%M") %>
					</td>
					<td align="left"  class="padding cell-bottom i">
						<%@doctor = Doctor.find(t.doctor_id)%>
						<%=DoctorManagerHelper.get_fio(@doctor)%>
						 (<%=@doctor.spec.name%>)
					</td>
					<td align="center"  class="padding cell-right i">

						<%=link_to 'Печать талона' , show_ticket_path(t.id)   %>
						</br>
						<%=link_to 'Удалить', { :controller=>:ticket_manager, :action=>:delete, :id=>t.id}, {:confirm => "Вы уверены?" ,:method=>:delete } %>
						
					</td>
				</tr>
			<% end %>
		</table>

	</div>
</div>